# Web Framework
Flask==3.0.2
Flask-SocketIO==5.3.6
gunicorn==21.2.0
eventlet==0.35.2

# Serial Communication
pyserial==3.5

# Hardware Interface
RPi.GPIO==0.7.1
gpiozero==2.0

# Utilities
python-dotenv==1.0.1
requests==2.31.0
pycryptodome==3.20.0
pyusb==1.2.1

# Testing
pytest==8.0.2
pytest-cov==4.1.0

# Documentation
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0 