[Unit]
Description=HakPak - Portable Pentesting Platform
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/hakpak
Environment=PATH=/opt/hakpak/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/opt/hakpak/venv/bin/gunicorn --workers 4 --bind unix:/tmp/hakpak.sock wsgi:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 